<div class="flex justify-content-center align-items-center ">
  <p-card header="Registrar Nuevo Docente" styleClass="w-3">
    <form [formGroup]="form" (ngSubmit)="guardar()" class="flex flex-column gap-4">

      <div class="flex flex-column gap-2 align-items-start">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" />
      </div>

      <div class="flex flex-column gap-2 align-items-start">
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" pInputText formControlName="apellido" />
      </div>

      <div class="flex flex-column gap-2 align-items-start">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText formControlName="email" />
      </div>

      <div class="flex justify-content-end w-full">
        <button pButton type="submit" label="Guardar" icon="pi pi-save" [disabled]="form.invalid"></button>
      </div>

    </form>
  </p-card>
</div>

